/* ================================= 
  Base Element Styles
==================================== */
* { 
	outline: none; 
	box-sizing: border-box; 
  /*border: solid 1px black;*/
}

h1,h2, h3, h4, h5, h6 {
  padding: 0; 
  margin:0;
}


.app, .simple-component { 
	height: 100%; 
	width: 100%; 
	position: absolute; 
	right: 0; 
}

body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 0.9em;
}


.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
 }

 /* Center the contents of the bubble chart */
.simple-component {
    flex: 1;
    position: relative;
    display: flex;
    user-select: none;
    justify-content: center;
}


.form {
  margin-top: 10px;
}

.bubble-chart-text {
      /* Center text in the circle, and hide any overflow */
}


.bubble-label {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  font-weight: bold;
  color:#fff;
  font-size: 0.7em;
 }

 /* Show the overflow when hovering over a label */
.bubble-label:hover {
  overflow: visible;
  font-weight: bold;
  color:#000;
}
    

/* ================================= 
  Media Queries
==================================== */